body{

 
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  /* background-color: black; */

 
}


.index {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 92vh;

width: 100%;
}



.upload-screen{
 /* background-image: url(../public/BG.png);
  background-position: center;
  background-size: cover; */
  color: black;
  background-color: #B2BEB5;
}

.upload-btn{
  background-color: black;
  color: white;
}



.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.upload-btn,
.download-btn {
  /* background-color: #f9f9f9; */
  /* color: black; */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 22px; */
  margin: 10px;
  /* font-size: x-large;   */
  width: fit-content;
  border: none;
 
}
.upload-btn:hover,
.download-btn:hover {
  background-color: #0056b3;
}
.preview-img {
  margin-top: 20px;
  width: 700px;
  height: 350px;
  border-radius: 10px;
}
.right-panel {
  width: 100px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  gap: 10px;
  /* background-color: #263d59; */

  box-shadow: -4px 0 6px -2px rgba(0, 0, 0, 0.1); 
}



/* .right-pic-upload{
  display: flex;
  justify-content: center;
} */
.tools button {
  width: fit-content;
  color: black;
  background: transparent;
  font-size: x-large;
}
.tools{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.brightness-tool{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* padding-left: 20px; */
  
}
   input[type="range"] {
  width: 80%;
  /* left: 20px; */
  
   }       
           
      .sketch-canvas {
    transform: translate(230px, 160px);
}


  .save-pic{
    display: flex;
    flex-direction: column;
    font-size: 12px !important;
  }
  .save-pic button{
    font-size: small;
  }